# Virtual Environment
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Database
# db.sqlite3

# Environment Variables
.env

# Media
media/

# Static Build Files
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db